asttokens
blinker
click
comm
debugpy
decorator
distro
exceptiongroup
executing
Flask
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
python-dateutil
pytz
pyzmq
six
stack-data
tabula-py
tornado
traitlets
typing_extensions
tzdata
wcwidth
Werkzeug
